@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --white: #ffffff;
  --foreground: #171717;
  --black: #171717;
}

html {
  background-color: var(--white);
  font-size: 62.5%;
  color: var(--black);
}

body {
  height: 100%;
  color: var(--black);
  font-family: Arial, Helvetica, sans-serif;
}
